html
body
  form(action="/charge", method="post")
    article
      label Montant: 5.00€
    script(
      src="//checkout.stripe.com/v2/checkout.js",
      class="stripe-button",
      data-key=keyPublishable,
      data-locale="auto",
      data-description="Prix unique",
      data-name="Nom custom",
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png",
      data-label= "Payer en CB",
      data-panel-label="Payer {{amount}}",
      data-amount="500")